# ide
.idea

# Django stuff:
*.log
db.sqlite3


# Environments
.venv
venv/
ENV/
env.bak/
venv.bak/

# pipenv
Pipenv

#python staff
__pycache__/
*.py[cod]
*$py.class
*.pyc

#some future frontend staff
/frontend/node_modules
static
node_modules
.eslintcache
